body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding-top: 7px;
    padding-left: 7px;
    margin-left: 10px;
    min-width: 40px;
    color: #f74464;
}

.input-large {
    border-radius: 95px;
    height: 40px;
    width: 20rem;
    text-align: center;
    border: none;
}

.button-lg-fill {
    background-color: #f74464;
    border-radius: 95px;
    height: 40px;
    width: 20rem;
    color: white;
    position: relative;
    margin: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.button-lg-unfill {
    border: 3px solid #f74464;
    border-radius: 95px;
    height: 40px;
    background-color: transparent;
    width: 20rem;
    padding-top: 0;
    margin: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.button-xl-fill {
    background-color: #f74464;
    border-radius: 95px;
    height: 60px;
    color: white;
    position: relative;
    border: none;
    font-weight: bold;
    font-size: larger;
}

.separator {
    margin-bottom: 10px;
    border: 2px solid;
}