body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    position: absolute;
    padding-top: 7px;
    padding-left: 7px;
    min-width: 40px;
    color: #f74464;
}

.input-lg {
    border-radius: 95px;
    height: 40px;
    width: 20rem;
    padding-left: 2.5rem;
    border: none;
}

.input-md {
    border-radius: 95px;
    height: 40px;
    width: 15rem;
    padding-left: 2.5rem;
    padding-bottom: 3px;
    border: 3px solid #374258;
}

.button-lg-fill {
    background-color: #f74464;
    border-radius: 95px;
    height: 40px;
    width: 20rem;
    color: white;
    position: relative;
    margin: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.button-lg-unfill {
    border: 3px solid #f74464;
    border-radius: 95px;
    height: 40px;
    background-color: transparent;
    width: 20rem;
    padding-top: 0;
    margin: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.button-xs-fill {
    background-color: #f74464;
    border-radius: 95px;
    height: 40px;
    width: 5rem;
    color: white;
    position: relative;
    margin: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.button-xs-danger {
    background-color: #fd1d1d;
    border-radius: 95px;
    height: 40px;
    width: 5rem;
    color: white;
    position: relative;
    margin: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.button-xs-success {
    background-color: #02b902;
    border-radius: 95px;
    height: 40px;
    width: 5rem;
    color: white;
    position: relative;
    margin: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.button-xs-unfill {
    border: 3px solid #f74464;
    border-radius: 95px;
    height: 40px;
    background-color: transparent;
    width: 5rem;
    padding-top: 0;
    margin: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.button-xl-fill {
    background-color: #f74464;
    border-radius: 95px;
    height: 60px;
    color: white;
    position: relative;
    border: none;
    font-weight: bold;
    font-size: larger;
}

.button-sm-fill {
    background-color: #f74464;
    border-radius: 95px;
    height: 40px;
    width: 8rem;
    color: white;
    position: relative;
    border: none;
    font-weight: bold;
    padding: 5px;
}

.button-sm-unfill {
    border: 3px solid #f74464;
    border-radius: 95px;
    height: 40px;
    width: 8rem;
    background-color: transparent;
    color: white;
    position: relative;
    border: none;
    font-weight: bold;
    padding: 5px;
}

.separator {
    margin-bottom: 10px;
    border: 2px solid;
}

.table-style {
    box-shadow: 5px 10px #374258;
    padding: 0;
    border: 3px solid #f74464;
    margin: 0;
}

.status-success {
    background-color: #02b902;
    color: white;
    border-radius: 95px;
    padding: 7px;
}

.status-danger {
    background-color: #fd1d1d;
    color: white;
    border-radius: 95px;
    padding: 7px;
}

.status-warning {
    background-color: #faaa17;
    color: white;
    border-radius: 95px;
    padding: 7px;
}

.background {
    padding: 10px 50px 50px 50px;
}

.table-icon {
    margin: 6px;
    min-width: 40px;
    font-size: 14pt;
    color: #374258;
}

.logo {
    background-color: #374258;
    border: none;
    border-radius: 50%;
    color: white;
    width: 25%;
}

.modal-content {
    background-color: #374258;
}

.modal-content>.modal-header,
.btn-close {
    color: #f74464;
    text-transform: uppercase;
    text-align: center;
}

.modal-content>.modal-body {
    background-color: white;
}

.input-lg {
    border-radius: 95px;
    height: 50px;
    background-color: #374258;
    color: white;
    border: none;
}

.sm-icon {
    color: #f74464;
    font-size: 1.5rem;
    padding-right: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("@/assets/images/icons8-calendar-96.png");
    background-position: end;
    background-size: 20px 20px, 20px 20px;
    background-repeat: no-repeat;
}

.addon {
    background-color: #f74464;
    border-radius: 0 95px 95px 0;
    font-size: 22pt;
    padding-top: 0;
    border: 2px solid #374258;
    width: 40px;
}

.selector-lg {
    border-radius: 95px;
    height: 50px;
    background-color: #374258;
    color: white;
    border: none;
    padding-left: 30px;
    background-image: url("@/assets/images/icons8-chevron-down-96.png");
    background-position: calc(100% - 25px) calc(0.6em + 0.5px),
        calc(100% - 19.8px) calc(0.6em + 5px);
    background-size: 30px 30px, 30px 30px;
    background-repeat: no-repeat;
}

.selector-lg>option {
    background-color: #f74464;
    color: #374258;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.selector-lg>option:hover {
    background-color: white;
    color: #374258;
}

.text-success {
    color: #02b902;
}

.text-danger {
    color: #fd1d1d;
}

.text-warning {
    color: #faaa17;
}